/* Google fonts. */
@import url('https://fonts.googleapis.com/css2?family=Judson&family=Poppins:wght@500&display=swap');


/* Reseteo. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
/* Rem. */
html {
    font-size: 15px;
}

/* H */
h1, h2, h3 {
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* Fondo del sitio. */
.fondo-gradiente {
    background-image: url(media/fondo_velmont_gradiente.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Fondo secciones, foto decorativa. */
.presentacion {
    background-image: url(media/fondo_velmont_elementos.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

/* Párrafos */
.parrafo-presentacion, .parrafo-general {
    color: white;
    font-family: 'Judson', serif;
    font-size: 1.5rem;
    
}
.parrafo-presentacion{
    text-align: center;
    background-color: rgba(58, 42, 42, 0.712);
}
.parrafo-general {
    text-align: left;
}

.historia {
    border: 2px, solid, white;
}

.servicios {
    background-image: url(media/minibar_velmont.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

/* Lista de servicios */
.lista-servicios{
    list-style-type: none;
    color: white;
    background-color: rgba(58, 42, 42, 0.712);
    font-family: 'Poppins', sans-serif;
}

.efectivo {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

/* Textos animados de promo */
.promo1, .promo2, .promo3, .promo4 {
    color: white;
    font-size: 1.5rem;
    font-family: 'Judson';
    font-weight: bold;
}
.promo1 {
    transition: all 1.8s linear;
}
.promo2 {
    transition: all 1.8s ease-in;
}
.promo3 {
    transition: all 1.8s ease-in-out;
}
.promo4 {
    transition: all 1.8s ease-out;
}

.contenedor-promo:hover .promo1,
.contenedor-promo:hover .promo2,
.contenedor-promo:hover .promo3,
.contenedor-promo:hover .promo4 {
    transform: translateX(5rem);
}

/* Fotos de clientes. */
.cliente-v, .cliente-h {
    margin: 10px;
    transition: all 1s;
    box-shadow: 2px 2px 2px rgb(119, 87, 6);
}
.cliente-v:hover, .cliente-h:hover {
    transform: scale(1.3);
}
.cliente-v {
    width: 290px;
    height: auto;
}
.cliente-h {
    width: 400px;
    height: auto;
}


