/* Reseteo. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
/* Rem. */
html {
    font-size: 19px;
}

/* Variables. */
/* :root {
    --colorGeneral:
    --tamanioImagen:
} */

/* H */
h1, h2, h3 {
    color: white;
}

/* Párrafos */
p {
    color: white;
}

/* Fondo del sitio. */
.fondo-gradiente {
    background-image: url(media/fondo_velmont_gradiente.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Fondo secciones, foto decorativa. */
.presentacion {
    background-image: url(media/fondo_velmont_elementos.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

/* Párrafos */
.parrafo-presentacion, .parrafo-general {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    
}
.parrafo-presentacion{
    text-align: center;
    background-color: rgba(58, 42, 42, 0.712);
}
.parrafo-general {
    text-align: left;
}

.historia {
    border: 2px, solid, white;
}

/* Lista de servicios */
.lista-servicios{
    list-style-type: none;
    color: white;
    background-color: rgba(58, 42, 42, 0.712);
}

/* Textos animados de promo */
.promo1, .promo2, .promo3, .promo4 {
    font-size: 1rem;
}
.promo1 {
    transition: all 1.8s linear;
}
.promo2 {
    transition: all 1.8s ease-in;
}
.promo3 {
    transition: all 1.8s ease-in-out;
}
.promo4 {
    transition: all 1.8s ease-out;
}

.contenedor-promo:hover .promo1,
.contenedor-promo:hover .promo2,
.contenedor-promo:hover .promo3,
.contenedor-promo:hover .promo4 {
    transform: translateX(5rem);
}

/* Fotos de clientes. */
.cliente {
    width: 300px;
    height: auto;
    transition: all 1s;
}
.cliente:hover {
    opacity: 50%;
}


